.auth-page,
.auth-form,
.auth-form > label {
    display: flex;
    flex-direction: column;
}

.auth-page {
    padding: 50px 80px;
    gap: 30px;
    justify-content: center;
}

.auth-page > h2 {align-self: center;}

.auth-form {
    gap: 20px
}

.auth-form > label {
    gap:5px;
    font-weight: 700;
}

.auth-form input {
    padding: 10px;
    border: 2px solid var(--blue);
    border-radius: 5px;
}

.auth-form > button {
    color: white;
    background: var(--blue);
    border: var(--blue);
    padding: 10px;
    border-radius: 6px;
    font-weight: 700;

}

.below-alternate-signup {
    text-align: center;
}

.below-alternate-signup > a {
    color: var(--blue);
    text-decoration: underline;
}

.error,
.success {
    text-align: center;
}

.error {color: red;}
.success {color: green}

@media (min-width: 750px) {
    .auth-page {
        padding: 50px 30vw;
    }
}