.featured {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 80px 50px;
}

.featured-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

@media (min-width: 750px) {
    .featured {
        padding: 80px 150px;
    }
}