header {
  padding: 20px;
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0;
  background: var(--white-color);
}

.logo-name {
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

.nav > div {
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.large-screen-menu {
    display: none;
}

.icon-container {
    display: flex;
    gap: 30px;
}

/* .user-details {
    display: none;
} */

header i {
    font-size: 24px;
}

#menu-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    align-items: center;
    color: var(--second-text-color);
    font-size: 30px;
    margin-top: 50px;
    height: fit-content;
}

.cart-amount {
    font-size: 16px;
}

.user-details {
    display: flex;
    gap: 5px;
    align-self: end;
}

.user-details > i { 
    font-size: 14px;
}

.user-details > span {
    font-weight: 700;
    font-size: 14px;
}

#large {display: none;}
#small {display: block;}

@media (min-width: 750px) {

    #small {display: none}
    #large {display: block}
    
    #menu-list {display: none}
    .icon-container {color: var(--blue)}
    header i,
    header  a {
        color: var(--blue);
    }

    

    .large-screen-menu {
        display: flex;
        font-size: 14px;
        font-weight: 700;
        gap: 25px;
        color: var(--second-text-color);
    }

    .large-screen-menu > span:hover {
        color: var(--blue);
    }
}